.main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: initial;
}
.main1{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.data1{
    display: flex;
    flex-direction: column;
    
}
input{
    margin-top: 10px;
    margin-left: 50px;
}
.skill{
    display: flex;
    flex-direction: row;
}
.btnAdd{
    margin-left: 50px;
    margin-top: 10px;
}
.First{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.data1{
    margin-top: -10px;
}